:root {
  --primaryColor: hsl(185, 57%, 35%);
  --secondaryColor: hsl(0, 0%, 22%);
  --whiteColor: hsl(0, 0%, 100%);
  --whiteColorDeam: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 22%);
  --greyColor: #e5e5e5;
  --bodyColor: hsl(0, 0%, 100%);
  --gradientColor: linear-gradient(
    90deg,
    hsla(40, 63%, 85%, 1) 0%,
    hsla(22, 94%, 79%, 1) 100%
  );
  --textOnPrimary: hsl(0, 0%, 22%);
  --textOnSecondary: #f1e1c2;
  --background: hsl(0, 0%, 100%);
  --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --boxShadowBtn: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: var(--boxShadow);

  .logo {
    color: var(--blackColor);
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .icon {
      font-size: 25px;
      color: var(--primaryColor);
      transform: translateY(3.5px);
    }
  }

  @media screen and (max-width: 768px) {
    .navBar {
      position: absolute;
      background: var(--whiteColorDeam);
      height: max-content;
      width: 100%;
      margin-top: -50rem;
      transition: 0.5s cubic-bezier(0, -0, 0, 0);
      left: 0.1%;
      box-shadow: var(--boxShadow);
      z-index: 100;
    }
    li {
      border-bottom: 0.1rem solid;
      border-color: var(--greyColor);
      width: 80%;
      display: flex;
      justify-content: center;
    }
    .navLists {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: auto;
      padding: 0.5rem 0;

      .navItem {
        padding: 0.6rem 0;

        .navLink {
          display: flex;
          justify-content: center;
          color: var(--textOnPrimary);
          font-size: 0.9rem;
          font-weight: 600;
          &:hover {
            color: var(--textOnSecondary);
          }
        }
      }
      .btn {
        margin-top: 1rem;

        a {
          font-weight: 600;
          color: var(--whiteColor);
        }
      }
    }
    .closeNavBar {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      color: var(--primaryColor);
      &:hover {
        color: var(--secondaryColor);
      }
    }
    .activeNavbar {
      margin-top: 25rem;
    }
    .iconButton {
      width: 1.5rem;
      height: auto;
    }
    .iconButtonContainer {
      padding: 0.2rem;
      box-shadow: var(--boxShadowBtn);
      display: flex;
      justify-content: center;
      border-radius: 0.2rem;
    }
  }
  .toogleNavBar {
    .icon {
      font-size: 25px;
      color: var(--primaryColor);
      &:hover.icon {
        color: var(--secondaryColor);
      }
    }
  }
}
